{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Şifremi Değiştir{% endblock %}

{% block content %}
<div class="container p-4 mx-auto">
  <div class="card w-full max-w-md mx-auto bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title text-2xl font-bold mb-6">Şifre Değiştirme</h2>
      
      <form method="post" hx-boost="true">
        {% csrf_token %}
        {{ form|crispy }}
        
        <div class="flex justify-between mt-6">
          <a href="{% url 'accounts:user-update' %}" class="btn btn-ghost">İptal</a>
          <button type="submit" class="btn btn-primary">Şifremi Değiştir</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}